@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 44px;
  color: #060707;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 40px;
  color: #060707;
}

h3 {
  font: 23px;
  color: #060707;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  position: fixed;
  width: 100vw;
  height: 75px;
  background: rgba(255, 255, 255, 0%);
  transition: all 0.5s ease-in-out;
}

nav.scroll {
  background: rgba(255, 255, 255, 100%);
  transition: all 0.5s ease-in-out;
}

nav.scroll .buttons a {
  color: #060707;
}

nav.scroll .buttons {
  border-bottom: 3px solid rgba(19, 162, 93, 100%);
}

nav > .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
}

nav .buttons {
  align-self: flex-end;
  justify-self: end;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

nav .buttons a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding: 0 20px;
  margin: 0 10px;
  font-size: 18px;
}

nav .logo {
  padding: 10px;
}

nav .logo img {
  height: 100%;
}

#home {
  background-image: url(images/home.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#home .window {
  width: 40%;
  background: #fff;
  border-radius: 10px;
  padding: 3.25em;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #13a25d;
  padding: 0.75em 2.25em;
  border-radius: 40px;
  box-sizing: border-box;
  margin: 2em 2em 0 0;
}

.button.learn {
  background-color: #060707;
}

#about {
  background: #13a25d;
  padding: 150px 0;
  box-sizing: border-box;
}

#about h2,
#about p {
  color: #fff;
}

#about h2 {
  padding-left: 1em;
  border-left: 5px solid #fff;
  margin-bottom: 0.75em;
}

#about p {
  font-size: 26px;
}

#about > div {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 3em;
}

#about img {
  width: 100%;
}

#services {
  position: relative;
  z-index: -2;
  padding: 150px 0;
  background-image: url(images/services.jpg);
  background-size: cover;
}

#services h2 {
  margin-bottom: 1em;
}

#services h3 {
  height: 3.5em;
  padding-left: 0.5em;
  border-left: 5px solid #13a25d;
}

#services::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 85%) 65%, rgba(0, 0, 0, 0) 100%);
}

#services ul {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  list-style: none;
}

#contact {
  padding: 150px 0;
}

#contact h2 {
  text-align: center;
}

#contact .note {
  margin-top: 1em;
  font-size: 14px;
  margin-bottom: 2em;
}

.input-form {
  width: calc(100% - 44px);
  padding: 20px;
  margin-bottom: 25px;
  background: transparent;
  border: 2px solid #13a25d;

  padding: 0.75em 2.25em;
  border-radius: 40px;
  font-size: 18px;
}

textarea {
  resize: none;
}

.submit-form {
  width: 100%;
  margin-bottom: 1em;
  color: #ffffff;
  background: #13a25d;
  font-size: 18px;
  padding: 18px;
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}

.submit-form:hover {
  background: #2b2b2b;
}

@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 780px) {
  .container {
    width: calc(100% - 50px);
  }
}
